<div class="text-center sign-div cont-signup">
  <img class="mb-4" src="../../assets/img/logo/Logo_final.png" alt="" width="72">
  <form class="form-signin border border-warning rounded">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="email address" required autofocus>
    <button class="btn btn-lg btn-success btn-block" type="submit">reset password</button>
  </form>
</div>
