<div class="cont">
  <app-nav></app-nav>
  <div class="bg-white mt-2 p-3">
  <h2>Step by step procedure for Mobile Number Portability</h2>
    <ol>
      <li>Register in our system</li>
      <li>Add information about yourself</li>
      <li>Add your phone numbers</li>
      <li>
        Start journey for your existing number:
        <ul>
          <li>Choose the service provider you wish to port your number to.</li>
          <li>Choose the best tariff for you</li>
          <li>The journey will be started. You will see all steps of the journey.</li>
          <li>Visit your nearest operator store and fill the porting form and customer acquisition form for port into the network.
            <br>Also, carry a passport size photograph and a self attested copy of identity proof.
          </li>
        </ul>
      </li>
    </ol>
    <p>That's all!</p>
    <p><b>Remember:</b> <br>Once your mobile number ported into your preferred new mobile operator, your old SIM card stops functional. <br>Now its time to replace your old SIM by new SIM. So insert the new sim in your phone.<br> Now you are in the new network with old number. And your chosen new Mobile operator service starts functional.</p>
</div>
</div>
<app-footer></app-footer>
