.footer {
  width: 100%;
  height: auto;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 0 15px 0 !important;
  margin-left: 20px;
  width: auto;
}
.footer-img{
  opacity: 0.3;
  cursor: pointer;
}
.footer-img:hover{
  opacity: 0.45;
}
.jup-cont{
  display: flex;
  align-items: center;
}
.footer-nav{
  display: block;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}
.slash{
  color: #cccccc;
}
.cookies{
  margin-top: 15px;
}
.card-header{
  width: 100%;
}
#headingOne{
  font-size: 13px;
}
.card{
  border:none;
}
.orange{
  color: #ffa700;
}
.cookies-policy{
  cursor: pointer;
}
.card-body{
  font-size: 11px;
  height: auto;
  width: auto;
  border: 1px solid #cccccc;
  padding: 10px 0 10px ;
  border-radius: 5px;
}
.cookies-policy:hover{
  color: #ff6f00;
}
.footer-nav:hover{
  color: #ffa700;
}
ul{
  margin-bottom: 0;
  padding-right: 10px;
}
@media screen and (max-width: 575px){
  .jup-cont{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
