<footer class="footer mb-0 mt-2">
  <div class="container">
    <div class="jup-cont">
      <img class="footer-img" src="../../assets/img/logo/jupiter-black.png" height="30px" alt="" routerLink="/main"
           onclick='window.scrollTo({top:0, left: 0,behavior:"smooth"});'>
      <span class="col-sm-4 text-muted footer-nav">© 2019 jupiter, inc.</span>
      <span class="footer-nav col-xs-1 col-sm-2" routerLink="/main"
            onclick='window.scrollTo({top:0, left: 0,behavior:"smooth"});'>main</span>
      <span class="slash">/</span>
      <span class="footer-nav col-xs-1 col-sm-2">about</span>
      <span class="slash">/</span>
      <span class="footer-nav col-xs-1 col-sm-2">howto</span>
      <span class="slash">/</span>
      <span class="footer-nav col-xs-1 col-sm-2">contacts</span>
    </div>

    <div id="accordion" class="cookies">
      <div class="card">
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li> a cookie is a small piece of text that our web server stores on your computer or mobile device, which
                your
                browser sends to us when you return to our site
              </li>
              <li>cookies do not necessarily identify you if you are merely
                visiting <span class="orange">juputer</span></li>
              <li>
                owever, a cookie may store a unique identifier for each logged in user
              </li>
              <li>
                the cookies jupiter sets are essential for the operation of the website, or are used for performance or
                functionality
              </li>
              <li>
                by using our website, you agree that we can place these types of cookies on your computer or device
              </li>
            </ul>

          </div>
        </div>
        <div id="headingOne">
          by using jupiter.com you agree to our
          <span class="orange cookies-policy" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
        cookies policy
        </span>
          to enhance your experience.
        </div>

      </div>
    </div>
  </div>
</footer>
