<div class="bg-white my-2" style = "padding-bottom: 10px">
  <button type="button" class="btn our_outline_btn m-2" data-target="#ModalAddNumber" data-toggle="modal">add number</button>
<app-modal-add-number (addNumber)="getNumbers();" ></app-modal-add-number>
  <div id="accordion" class="accordion">
    <div class="card m-2" *ngFor="let number of numbers; let i = index;">
      <div class="card-header bg-white mb-0 row text-center" [id]="'heading' + i">
        <div class="col-lg-2 col-md-3 col-sm-6 mt-1">{{number.number}}</div>
        <div class="col-lg-1 col-md-3 col-sm-6 mt-1">{{number.country}}</div>
        <div class="col-lg-2 col-md-3 col-sm-6 mt-1">{{number.region}}</div>
        <div class="col-lg-1 col-md-3 col-sm-6 mt-1">{{number.provider}}</div>
        <div class="col-lg-1 col-md-3 col-sm-6 mt-1">{{number.tariff}}</div>
        <div class="col-lg-2 col-md-3 col-sm-6 mt-1">{{number.tarifPrice}}</div>
        <div class="col-lg-1 col-md-3 col-sm-6">
          <button class="btn btn-link" (click)="getOffering(number.tariffId)" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
            <img src="../../assets/img/arrow.svg" height="15px">
          </button>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <button type="button" class="btn our_outline_btn btn-sm  btn-block" routerLink="/journeys/1">start journey</button> <!--ИЗМЕНИТЬ!!!-->
        </div>
      </div>
      <div [id]="'collapse' + i" class="collapse m-0 p-0" [attr.aria-labelledby]="'heading' + i" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 text-warning">
                  full information
                </div>
              </div>
            </div>
          </div>
          <div>
          <table class="table table-bordered mt-2 table-sm text-center table-responsive-sm" >
            <tr>
              <td class="text-muted">offering name</td>
              <th scope="col" *ngFor="let om of offering">{{om.offeringName}}</th>
            </tr>
            <tr>
              <th class="text-muted">quantity</th>
              <th scope="col" class="font-weight-normal"  *ngFor="let om of offering">{{om.quantity}}</th>
            </tr>
            <tr>
              <th class="text-muted">offering price</th>
              <th scope="col" class="font-weight-normal" *ngFor="let om of offering">{{om.offeringPrice}}</th>
            </tr>
          </table>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
