<div class="modal fade" #ModalAddNumber id="ModalAddNumber" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border border-warning rounded">
      <div class="modal-body">
        <form class="form-signin">
          <ng-template [ngIf]="this.message">
            <div class="alert alert-warning" role="alert">
              {{this.message}}
            </div>
          </ng-template>
          <div class="form-group has-float-label">
            <input #inputNumber type="text" id="inputNumber" prefix="+7 " mask="(000) 000 00 00" class="form-control" placeholder="number" required>
            <label for="inputNumber">number</label>
          </div>

          <div class="form-group has-float-label">
            <select [(ngModel)]="selectedCountryId" (ngModelChange)="getRegions();" [ngModelOptions]="{standalone: true}" class="form-control" id="country" required >
              <option value="undefined" disabled selected hidden>country</option>
              <option *ngFor="let country of countries" [value]="country.countryId">{{country.countryName}}</option>
            </select>
            <label for="country">country</label>
          </div>

          <div class="form-group has-float-label">
            <select [(ngModel)]="selectedRegionId" (ngModelChange)="getProviders();" [ngModelOptions]="{standalone: true}" class="form-control" id="region" required>
              <option value="undefined" disabled selected hidden>region</option>
              <option *ngFor="let region of regions" [value]="region.regionId">{{region.regionName}}</option>
            </select>
            <label for="region">region</label>
          </div>

          <div class="form-group has-float-label">
            <select [(ngModel)]="selectedProviderId" (ngModelChange)="getTariffs();" [ngModelOptions]="{standalone: true}" class="form-control" id="provider" required>
              <option value="undefined" disabled selected hidden>provider</option>
              <option *ngFor="let provider of providers" [value]="provider.providerId">{{provider.providerName}}</option>
            </select>
            <label for="provider">provider</label>
          </div>

          <div class="form-group has-float-label">

            <select [(ngModel)]="selectedTariffId" (ngModelChange)="getTariffOfferings();" [ngModelOptions]="{standalone: true}" class="form-control" id="tariff" required>
              <option value="undefined" disabled selected hidden>tariff</option>
              <option *ngFor="let tariff of tariffs" [value]="tariff.tariffId">{{tariff.tariffName}}  ({{tariff.tariffPrice}})</option>
            </select>

            <label for="provider">tariff</label>
          </div>

          <fieldset class="border rounded">
            <legend>additional offerings</legend>
            <div *ngFor="let offer of offerings">
              <input type="checkbox">{{offer.offeringName}} <span style = 'font-size: 0.7em;'>({{offer.offeringPrice}})</span>
            </div>
          </fieldset>
          <button type="button" class="btn btn-outline-secondary btn-block my-2" (click)="hide_modal()">cancel</button>
          <button type="button" class="btn our_outline_btn btn-block" (click)="add(inputNumber.value, selectedTariffId)">add number</button>
        </form>
      </div>
    </div>
  </div>
</div>
