legend {
  display: block;
  width: auto;
  padding: 0 5px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: inherit;
  border-bottom: none;
  color: #ffc107;
}
fieldset {
  border-color: gray;
  padding: 5px;
}
