nav{
  min-height: 70px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,167,0, 1)' stroke-width='1.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-link{
  cursor: pointer;
}
.custom-toggler{
  border: 1.5px solid #ffa700;
  position: absolute;
  right: 10px;
  top:15px;
}
.text-orange{
  color: #ffa700;
}
.text-red{
  color:red;
}
.txt-l{
  font-family: 'MyMontserratSemiBold';
  font-weight: 500;
  font-size: 15px;
}
.txt-sm{
  font-size: 11px;
}
.space-80{
  line-height: 100%;
}

/*User MENU*/
.user_menu_cont {
  height: 70px;
  width: auto;
  position: absolute;
  right: 23px;
  top: 0;
  display:flex;
  align-items: center;
  user-select: none;
}
.avatar{
  width: 45px;
  height: 45px;
  background-color: #ffa700;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
#avatar_pic{
  display: block;
  width: 100%;
  height: 100%;
}
#notify{
  width: auto;
  height:auto;
  position: relative;
  margin-right: 10px;
}
#notify::after{
  display: inline-block;
  position: absolute;
  right:-2px;
  top: -2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ff512e;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  line-height: 14px;
}

#notify.change:after{
  content: attr(data-content);
}

.inf {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  width: 104px;
}
#arrow{
  height: 15px;
  width: 25px;
  transition: 0.2s;
}
#arrow_btn{
  /*margin-left: 10px;*/
  background:none;
  border: none;
  outline: none;
  padding: 0;
  width: 32px;
  -moz-transition: all 0.2s 0.1s ease-in;
  -o-transition: all 0.2s 0.1s ease-in;
  -webkit-transition: all 0.2s 0.1s ease-in;
}

.rotated {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/*DROPDOWN MENU*/
.dropdown-menu{
  z-index: 100;
  display: block;
  opacity: 0;
  transition:100ms linear;
  pointer-events: none;

}
.dropdown-menu.show{
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(0,-10px);
  -moz-transform: translate(0,-10px);
  -o-transform: translate(0,-10px);
}
#user_menu {
  width: 220px;
  margin-top: 18px;
  margin-left: 165px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
#user_menu a{
  text-decoration: none;
  color:black;
}
#user_menu::before{
  content: "";
  border-bottom: 8px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -7px;
  right:28px;
  z-index: 10;
}
#user_menu::after {
  content: "";
  border-bottom: 8px solid #ccc;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -8px;
  right: 28px;
  z-index: 8;
}

.top_profile_sep {
  margin: 4px 13px;
  border-top: 1px solid #ebebeb;
}
.menu_list{
  line-height: 100%;
  padding-top:3px;
  padding-bottom:5px;
  border-radius: 3px;
}
.menu_list:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

#list_notify::after {
  position: absolute;
  right:50px;
  top: 12.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff512e;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}

#list_notify.change:after{
  content: attr(data-content);
}

/*NEW JOURNEY BTN*/
.new_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:20px;
  width:auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
  border-radius: 5px;
  border: none;
  border-color: #ffa700;
  color:#ffffff;
  border: solid 1px;
  background-color: #ffa700;
  cursor: pointer;
}

.user_menu_cont a{
  text-decoration: none;
}

/*АДАПТАЦИЯ*/
@media screen and (max-width: 888px){
  .new_btn{
    display: none;
  }
  .icon-plus{
    margin: 0;
  }
  .inf{
    display: none;
  }
  #user_menu{
    margin-left: 0;
    left: -122px;
  }

}
@media screen and (max-width: 767.5px){
  .user_menu_cont{
    right: 90px;
  }
  #user_menu{
    width: 250px;
    left: -90px;
  }
  #user_menu::before{
    top: -7px;
    right:78px;
  }
  #user_menu::after {
    top: -8px;
    right: 78px;
  }
  #list_notify::after {
    right:65px;

  }

}

