<nav class="navbar sticky-top navbar-expand-md navbar-light bg-white">
  <a class="navbar-brand" routerLink="/main">
    <img src="../../assets/img/logo/Jupiter-logo.png"
         height="35px" alt="logo">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/main">main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/how-to">how to</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tariffs">show tariffs</a>
      </li>
    </ul>
    <ng-template [ngIf]="!cookie.get('userid')">
      <button class="btn btn-space btn our_btn my-2 my-sn-0" routerLink="/sign-up">sign up</button>
      <button class="btn btn-space our_outline_btn my-2 my-sn-0 ml-3" routerLink="/log-in">log in</button>
    </ng-template>
  </div>
  <ng-template [ngIf]="!!cookie.get('userid')">
    <section class="user_menu_cont">
      <a routerLink="/journeys/{{cookie.get('userid')}}">
        <div class="new_btn">
          <span class="icon-plus"></span>
          <span id="new-jrn-btn-text">new journey</span>
        </div>
      </a>
      <div class="inf">
        <div class="txt-l space-80">{{loginNav}}</div>
        <div class="text-orange txt-sm space-80">{{cntUncompleted}} in process</div>
      </div>
      <div id="notify">
        <div class="avatar">
          <img id="avatar_pic" src="../../assets/img/star.png">
        </div>
      </div>
      <button  id="arrow_btn" data-toggle="dropdown" (click)="Rotate();">
        <img [ngClass]="{'rotated' : isRotated}" src="../../assets/img/arrow.svg" id="arrow">
      </button>
      <div id="user_menu" class="dropdown-menu" aria-labelledby="arrow_btn">
        <a>
          <div class="menu_list text-orange" id="list_notify" routerLink="/journeys/{{cookie.get('userid')}}">journeys({{cntUncompleted}})</div>
        </a>
        <div class="top_profile_sep"></div>
        <a>
          <div class="menu_list" routerLink="/profile/{{cookie.get('userid')}}">account</div>
        </a>
        <a>
          <div class="menu_list" routerLink="/journeys/{{cookie.get('userid')}}">new journey</div>
        </a>
        <a>
          <div class="menu_list" routerLink="/how-to">help</div>
        </a>
        <div class="top_profile_sep"></div>
        <a>
          <div class="menu_list text-red" (click)="logOut()">log out</div>
        </a>
      </div>
    </section>
  </ng-template>

  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
