.text-orange{
  color: #ffa700;
}
.smile{
  font-family: Tahoma, sans-serif;
  font-weight: 500;
  font-size: 25px;
}
.howto{
  font-weight: 700;
  color: #ffa700;
  cursor: pointer;
}
.txt-xl{
  font-family: 'MyMontserratMedium';
  font-weight: 100;
  font-size: 20px;
}
.txt-xxl{
  font-family: 'MyMontserratMedium';
  font-weight: 100;
  font-size: 30px;
}
.oops {
  height: auto;
  margin: 8px 0 8px 0;
  width: auto;
  background-color:#ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px 30px 30px 30px;
}

.d_info {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
}

.delete_btn {
  margin-left: 150px;
  border-color: #ff5100;
  color:#ff5100;
}
@media screen and (max-width: 767px){
  .oops {
    flex-direction: column;
    padding: 20px 0 20px 0;
    text-align: center;
  }
  .d_info{
    align-items: center;
  }
  .delete_btn {
    margin: 15px 0 0 0;
  }
}
.delete_btn:hover{
  color: #ffffff;
  background-color: #ff5100;
}
