<section class="oops">
  <div class="d_info">
    <div class = "txt-xxl">OOPS</div>
    <div class = "txt-xl">it's seems like you haven't added anything yet
      <span class ="smile"> ¯\_(ツ)_/¯</span>
    </div>
    <div class = "text-orange">check out our
      <span class = 'howto' routerLink="/how-to">/how to</span>
      page for more info</div>
  </div>
</section>
