<div class="modal fade" #ModalEdit id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border border-warning rounded">
      <div class="modal-body" *ngIf="user">
        <form class="form-signin">
          <ng-template [ngIf]="this.message">
            <div class="alert alert-warning" role="alert">
              {{this.message}}
            </div>
          </ng-template>
          <div class="form-group has-float-label">
            <input [ngClass]="{'red-border-class': emptyLogin}" maxlength="30" #ulogin="ngModel" type="text" #inputLogin id="inputLogin" class="form-control" placeholder="login" [(ngModel)]="user.login"  name="login" required>
            <label for="inputLogin">login</label>
            <div class="text-left" *ngIf="ulogin.invalid && (ulogin.dirty || ulogin.touched) && (ulogin.errors.maxlength || ulogin.errors.required)"></div>
          </div>

          <div class="form-group has-float-label">
            <input [ngClass]="{'red-border-class': emptyEmail}" maxlength="50" #uEmail="ngModel" type="email" #inputEmail id="inputEmail" class="form-control" placeholder="email" [(ngModel)]="user.email" name="email" required>
            <label for="inputEmail">email</label>
            <div class="text-left" *ngIf="uEmail.invalid && (uEmail.dirty || uEmail.touched) && (uEmail.errors.email || uEmail.errors.required)"></div>
          </div>

          <div class="form-group has-float-label">
            <input [ngClass]="{'red-border-class': emptyBday}" type="date" #inputBday id="inputBday" #uBday="ngModel" class="form-control" placeholder="B-day" [(ngModel)]="user.birthDate" name="birthDate" required>
            <label for="inputBday">b-day</label>
          </div>

          <div class="form-group has-float-label">
            <input [ngClass]="{'red-border-class': emptyPassport}" mask="0000 000000" #uPassport="ngModel" type="text" #inputPassport id="inputPassport" class="form-control" placeholder="passport" [(ngModel)]="user.passport" name="passport" required>
            <label for="inputPassport">passport</label>
            <div class="text-left" *ngIf="uPassport.invalid && (uPassport.dirty || uPassport.touched) && uPassport.errors.required"></div>
          </div>

          <div class="form-group has-float-label">
            <input [ngClass]="{'red-border-class': emptyName}" maxlength="30" #uName="ngModel" type="text" #inputName id="inputName" class="form-control" placeholder="name" [(ngModel)]="user.name" name="name" required>
            <label for="inputName">name</label>
          </div>

          <div class="form-group has-float-label">
            <input maxlength="30" #uPatronymic="ngModel" type="text" id="inputPatronymic" class="form-control" placeholder="patronymic" [(ngModel)]="user.patronymic" name="patronymic">
            <label for="inputPatronymic">patronymic</label>
          </div>

          <div class="form-group has-float-label">
            <input [ngClass]="{'red-border-class': emptySurname}" maxlength="30" #uSurname="ngModel" type="text" #inputSurname id="inputSurname" class="form-control" placeholder="surname" [(ngModel)]="user.surname" name="surname" required>
            <label for="inputSurname">surname</label>
            <div class="text-left" *ngIf="uSurname.invalid && (uSurname.dirty || uSurname.touched) && (uSurname.errors.maxlength || uSurname.errors.required)"></div>
          </div>

          <button type="button" class="btn our_outline_btn btn-block" (click)="save()">save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

