html{
  height: 100%;
}

body{
  position: relative;
  margin: 0;
  min-height: 100%;
}

.cont{
  /* Выставляем отступ с высотой footer */
  min-height: calc(100vh - 94px);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 20px;
  margin: 0 auto;
  border: 2px;
}

.form-input {
  max-width: 330px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

.form-control{
  margin-top: 15px;
}


.form-signin .form-control:focus {
  z-index: 2;
}

.sign-div{
  padding: 50px;
}

.our_outline_btn{
  background-color: #ffffff;
  border: 1px solid #ffa700;
  border-radius: 5px;
  color: #ffa700;
  cursor: pointer;
  position: relative;
}
.our_outline_btn:hover{
  color: #ffffff;
  background-color: #ffa700;
}

.our_btn{
  background-color: #ffa700;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
}

.our_btn:hover{
  color: #ffa700;
  background-color: #ffffff;
  border: 1px solid #ffa700;
}

.p-0 { /*для карусели*/
  padding: 0;
}

/*для модальных окон*/
.has-float-label{
  position: relative;
}

.has-float-label label {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: -.5em;
  left: 0.75rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
  color: #ffc107;
}

.has-float-label label::after {
  content: " ";
  display: block;
  position: absolute;
  background: white;
  height: 2px;
  top: 50%;
  left: -.2em;
  right: -.2em;
  z-index: -1;
}
/*для модальных окон*/

#arrow{
  height: 15px;
  width: 25px;
}

input.ng-touched.ng-invalid{
  border-color: red;
}
