<section class="delete_acc">
  <div class="d_info">
    <div class = "txt-xl">delete account</div>
    <div class = "text-orange">this will permanently delete all your information</div>
  </div>
  <app-model-delete></app-model-delete>
  <button class="btn delete_btn" data-toggle="modal" data-target="#deleteModal">delete account</button>
</section>
