.text-orange{
  color: #ffa700;
}
.txt-xl{
  font-family: 'MyMontserratMedium';
  font-weight: 100;
  font-size: 20px;
}
.btn{
  width:auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-radius: 5px;
  border: none;
  border-color: #ffa700;
  color:#ffa700;
  border: solid 1px;
  background-color: white;
}
.delete_acc {
  height: auto;
  margin: 8px 0 8px 0;
  width: auto;
  background-color:#ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 30px 0 30px 50px;
}

.d_info {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
}

.delete_btn {
  margin-left: 150px;
  border-color: #ff5100;
  color:#ff5100;
}
@media screen and (max-width: 767px){
  .delete_acc {
    flex-direction: column;
    padding: 20px 0 20px 0;
    text-align: center;
  }
  .d_info{
    align-items: center;
  }
  .delete_btn {
    margin: 15px 0 0 0;
  }
}
.delete_btn:hover{
  color: #ffffff;
  background-color: #ff5100;
}
