.btn-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
}
h3{
  margin-top: 15px;
}
.tariff-block{
  background-color: white;
  border-radius: 10%;
  margin: 7px 0;
  padding: 4px 2px;
}
.padding-0{
  user-select: none;
  padding: 0 ;
  margin: 8px 0 0 0!important;
}
.margin-zero{
  margin: 0!important;
  height: auto;
}
.margin-four{
  margin: 0 4px 0 4px;
}
.tmp-cont{
  background-color: white;
  transition: .5s;
  padding: 20px 0 0 0;
  height: 140px;
  position: relative;
}
.providers-cont{
  background-color: white;
  border-radius: 8px;
  height: 100%;
  padding: 20px 0 60px 0;
  transition: .5s;
}
.content-none{
  opacity: 0;
  transition: .5s;
}
.content-show{
  opacity: 1;
}
.check-cont{
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 20px;
  align-items: center;
  justify-content: center;
}
.btn-bottom{
  text-align: center;
}
.pic{
  width: 100px;
  opacity: 0.8;
}

.btn{
  background-color: white;
  color: #ffa700;
}
.btn:hover{
  background-color: #ffa700;
  color: white;
}

