<div class="row text-center mx-1 my-2 margin-zero" (click)="expandArea();">
  <div class="col-lg-2 col-md-4 col-sm-6 my-2 padding-0">
    <div class="tmp-cont">
      <img src="../../assets/img/providers/megafon.png" alt="" class = 'pic'>
      <div class="content-none">
        <h3>megafon</h3>
        <hr class="my-4">
        <p>The company and its subsidiaries provide services in all regions of Russia, as well as in the Republic of Abkhazia, South Ossetia, and Tajikistan</p>
        <div class="check-cont">
          <a routerLink="/tariffs" class="btn btn-space btn-outline-warning btn-bottom">check</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-4 col-sm-6 my-2 padding-0">
    <div class="tmp-cont">
      <img src="../../assets/img/providers/mts.png" alt=""class = 'pic'>
      <div class="content-none">
        <h3>mts</h3>
        <hr class="my-4">
        <p>MTS serves over 100 million mobile subscribers in Russia, Ukraine, Armenia and Belarus, and about 9 million customers of fixed-line services, including fixed voice, broadband internet, and pay-TV in Russia.</p>
        <div class="check-cont">
          <a routerLink="/tariffs" class="btn btn-space btn-outline-warning btn-bottom">check</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 my-2 padding-0">
    <div class="tmp-cont">
      <img src="../../assets/img/providers/beeline.png" class = 'pic'>
      <div class="content-none">
        <h3>beeline</h3>
        <hr class="my-4">
        <p>The company is one of the leading mobile operators in Russia – more than 58mln people have chosen Beeline. Their mission is to provide best products & services to improve customers’ life.</p>
        <div class="check-cont">
          <a routerLink="/tariffs" class="btn btn-space btn-outline-warning btn-bottom">check</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-4 col-sm-6 my-2 padding-0">
    <div class="tmp-cont">
      <img src="../../assets/img/providers/yota.png" class = 'pic'>
      <div class="content-none">
        <h3>yota</h3>
        <hr class="my-4">
        <p>Yota is the largest LTE operator in Russia and one of the world`s industry leaders in the wireless broadband. 4G commercial maintenance networks were launched in many cities.</p>
        <div class="check-cont">
          <a routerLink="/tariffs" class="btn btn-space btn-outline-warning btn-bottom">check</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 my-2 padding-0">
    <div class="tmp-cont">
      <img src="../../assets/img/providers/att.png" class = 'pic'>
      <div class="content-none">
        <h3>at&t</h3>
        <hr class="my-4">
        <p>AT&T is a modern media company whose mission is to inspire human progress through the power of communication and entertainment.</p>
        <div class="check-cont">
          <a routerLink="/tariffs" class="btn btn-space btn-outline-warning btn-bottom">check</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 my-2 padding-0">
    <div class="tmp-cont">
      <svg class="bd-placeholder-img rounded-circle txt-center" width="100" height="100" xmlns="http://www.w3.org/2000/svg"
           preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
           data-toggle="collapse" data-target="#ctix" aria-expanded="false" aria-controls="ctix"><title>
        Placeholder</title>
        <rect fill="#f2f2f2" width="100%" height="100%"/>
        <text fill="#777" dy=".3em" x="20%" y="50%" font-size="1.2em">more...</text>
      </svg>
      <div class="content-none">
        <h3>25 more...</h3>
        <hr class="my-4">
        <p>What's included in a phone tariff? There are many elements to a mobile phone tariff, from inclusive calls and texts to emailing and data applications. </p>
        <div class="check-cont">
          <a routerLink="/tariffs" class="btn btn-space btn-outline-warning btn-bottom">check</a>
        </div>
      </div>
    </div>
  </div>
</div>
