.sign-div{
  background-color: #ffffff;
}
.cont-form{
  height: auto;
}

.cont-signup{
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
form{
  background-color: white;
}
