<div class="text-center sign-div cont-signup">
  <div class="cont-form col-xs-12 col-sm-12 col-md-8 col-lg-5 col-xl-5">
    <img class="mb-4" src="../../assets/img/logo/Logo_final.png" alt="" width="72">
    <form class="form-signin border border-warning rounded">
      <h1 class="h3 mb-3 font-weight-bold text-center">sign up</h1>
      <ng-template [ngIf]="!this.allFields|| this.message">
        <div class="alert alert-warning" role="alert">
          {{this.message}}
        </div>
      </ng-template>
      <label for="inputFullName" class="sr-only">login</label>
      <input #inputFullName [ngModel]="userLoginText" [ngModelOptions]="{standalone: true}" minlength="3" maxlength="30" #ulogin="ngModel" type="text" id="inputFullName" class="form-control mb-0" placeholder="login" required>
      <div class="text-left" *ngIf="ulogin.invalid && (ulogin.dirty || ulogin.touched)">
        <mat-error *ngIf="ulogin.errors.minlength">Min 3 characters</mat-error>
        <mat-error *ngIf="ulogin.errors.maxlength">Max 30 characters</mat-error>
        <mat-error *ngIf="ulogin.errors.required">Login is required</mat-error>
      </div>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input #inputEmail type="email" [ngModel]="inputEmailtext" [ngModelOptions]="{standalone: true}" #uEmail="ngModel" id="inputEmail" class="form-control mb-0" placeholder="email address" email required>
      <div class="text-left" *ngIf="uEmail.invalid && (uEmail.dirty || uEmail.touched)">
        <mat-error *ngIf="uEmail.errors.email">Invalid email</mat-error>
        <mat-error *ngIf="uEmail.errors.required">Email is required</mat-error>
      </div>

      <label for="inputPassword" class="sr-only">Password</label>
      <input #inputPassword [ngModel]="inputPasswordtext" [ngModelOptions]="{standalone: true}" minlength="3" maxlength="30" #upassword="ngModel" type="password" id="inputPassword" class="form-control mb-0" placeholder="password" required>
      <div class="text-left" *ngIf="upassword.invalid && (upassword.dirty || upassword.touched)">
        <mat-error *ngIf="upassword.errors.minlength">Min 3 characters</mat-error>
        <mat-error *ngIf="upassword.errors.maxlength">Max 30 characters</mat-error>
        <mat-error *ngIf="upassword.errors.required">Password is required</mat-error>
      </div>

      <button class="btn btn-lg btn-success btn-block mt-3" type="submit" (click)="onSignUpClick()">sign up</button>
      <small id="policy" class="form-text text-muted font-weight-bold">by signing up, you agree to the<br><a href="#"
                                                                                                          class="text-warning">
        terms of service </a> and <a href="#" class="text-warning">private policy</a></small>
    </form>
    <small id="haveAccount" class="form-text text-muted font-weight-bold">already have an account? <a
      routerLink="/log-in" class="text-warning">log in</a></small>
  </div>
</div>
