.btn_recharge{
  margin-left: 33px;
  padding: 5px;
  font-size: 0.7em;
  max-width: 200px;
}
.card-body{
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: #fafafa;
  position: relative;
}
.card-header{
  padding: 20px 0;
  background-color: white;
}

/* COMMON RADIO AND CHECKBOX STYLES  */
input[type=radio]{
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}
input[type=radio] + label:before{
  height:14px;
  width:14px;
  margin-right: 2px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  border:1px solid #777;
}
input[type=radio]:checked + label:before{
  background:#ffa700;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio] + label:before{
  border-radius:50%;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #ffa700;
}

::ng-deep .mat-progress-bar-buffer {
  background: #ffa700;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
.badge {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: white;
  min-width: 30px;
  padding: 0 0.7em 0 0.7em;
  background-color: #ffa700;
  height: 30px;
  margin-right: .8em;
  border-radius: 5px 0 0 5px;
}
.badge-red{
  background-color: #ff5f00;
}
.badge-green{
  background-color: #209741;
}
.badge-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}
.completed-journey{
  border: 1px solid #29e65a;
}
.stopped-journey{
  border: 1px solid rgba(255, 207, 0, 0.56);
}
.completed-journey-header{
  background-color: rgba(103, 255, 134, 0.09) !important;
}
.stopped-journey-header{
  background-color: rgba(255, 233, 0, 0.07) !important;
}

