<div class="bg-white my-2" style="padding-bottom: 10px">
  <app-modal-add-journey (addJourneys)="getJourneysTasks()"></app-modal-add-journey>
  <button type="button" class="btn our_outline_btn m-3" data-target="#ModalAddJourney" data-toggle="modal" (click)="modalJourney()">new journey
  </button>
  <div id="accordion" class="accordion">
    <div [ngClass]="{'completed-journey' : checkCompletion(journeyAndTask), 'stopped-journey' : rechargeButtonAppearing(journeyAndTask)}" class="card m-2" *ngFor="let journeyAndTask of journeyAndTasks; let i = index; trackBy: trackByFunction">
      <div [ngClass]="{'completed-journey-header' :checkCompletion(journeyAndTask), 'stopped-journey-header' : rechargeButtonAppearing(journeyAndTask)}" class="card-header mb-0 row text-center" [id]="'heading' + i">
        <div class="col-lg-2 col-md-3 col-sm-12 mt-2"><strong>{{journeyAndTask.fullInfoAboutTarif.number}}</strong></div>
        <div class="col-lg-1 col-md-3 col-sm-5 mt-1">{{journeyAndTask.fullInfoAboutTarif.previousProvider}}
          <br>{{journeyAndTask.fullInfoAboutTarif.previousTarif}}</div>
        <div class="col-lg-1 col-md-1 col-sm-2 mt-3"><img src="../../assets/img/arrowRight.png" width="20"></div>
        <div class="col-lg-1 col-md-3 col-sm-5 mt-1">{{journeyAndTask.fullInfoAboutTarif.nextProvider}}
          <br>{{journeyAndTask.fullInfoAboutTarif.nextTarif}}</div>
        <div class="col-lg-2 col-md-2 mt-2">{{journeyAndTask.fullInfoAboutTarif.date | date:"dd.MM.yyyy"}}</div>
        <div class=" col-lg-4 col-md-10 col-sm-9 mt-3">
          <mat-progress-bar
            class="example-margin"
            mode="buffer"
            [value]="journeyAndTask.infoAboutTasksList.length*17">
          </mat-progress-bar>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 mt-2">
          <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true"
                  [attr.aria-controls]="'collapse' + i">
            <img src="../../assets/img/arrow.svg" id="arrow">
          </button>
        </div>
        <ng-template [ngIf]="rechargeButtonAppearing(journeyAndTask)">
          <button class="col-lg-1 col-md-2 col-sm-3 mt-2" type="button" class="btn btn_recharge our_outline_btn"
                  (click)="ContinueJourney(journeyAndTask.fullInfoAboutTarif.numberId, journeyAndTask.fullInfoAboutTarif.newTariffId, journeyAndTask.fullInfoAboutTarif.journeyId)">
            recharge the balance
          </button>
        </ng-template>
      </div>
      <div [id]="'collapse' + i" class="collapse m-0 p-0" [attr.aria-labelledby]="'heading' + i"
           data-parent="#accordion">
        <div class="card-body" *ngFor="let task of journeyAndTask.infoAboutTasksList; let j = index;">
          <div class="badge-cont m-2">
            <div class="badge"
                 [ngClass]="{'badge-red':(!task.journeyTask.taskfinish),'badge-green':task.journeyTask.taskfinish}">
              <span>{{j + 1}}</span></div>
          </div>
          <div class="col-8 col-md-5 col-l-3 text-center">{{task.taskName}}</div>
          <div class ="d-flex flex-column flex-md-row">
            <div class="p-0 m-2">{{task.journeyTask.taskstart}}</div>
            <div class="p-0 m-2">{{task.journeyTask.taskfinish}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
