.carousel-indicators li {
  width: 5px;
  height: 5px;
  margin: 10px 20px 0 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}

.carousel-indicators li.active {
  background-color: gold;
}

.my-btn{
  position: absolute !important;
  bottom: 25%;
  left: 16%;
  z-index: 100;
}
.my-btn2{
  position: absolute !important;
  bottom: 15%;
  left: 23%;
  z-index: 100;
}
.btn:hover{
  background-color: white;
  color: #ffa700;
}

@media (max-width: 767px) {
  /*xs*/
  .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .my-btn{
    left: 15%;
  }
  .my-btn2{
    left: 22%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /*sm*/
  .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /*md*/
  .btn {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
  }
}
@media (min-width: 1200px) {
  /*lg*/
  .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
}
