<div id="myCarousel" class="carousel slide mt-2" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Слайды карусели -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide d-block w-100" src="../../assets/img/carusel/Carusel_jupiter_slide_1.png" alt="First slide">
      <div class="container">
        <a class="btn btn-lg our_btn btn-responsive my-btn" routerLink="/sign-up" role="button">get started</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="second-slide d-block w-100" src="../../assets/img/carusel/Carusel_jupiter_slide_2.png" alt="Second slide">
      <div class="container">
        <a class="btn btn-lg our_btn btn-responsive my-btn2" routerLink="/about" role="button">learn more</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="third-slide d-block w-100" src="../../assets/img/carusel/Carusel_jupiter_slide_3.png" alt="Third slide">
      <div class="container">
        <a class="btn btn-lg our_btn btn-responsive my-btn" routerLink="/about" role="button">learn more</a>
      </div>
    </div>
  </div>
  <!-- Навигация карусели (следующий или предыдущий слайд) -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
