<div class="modal fade" #ModalAddJourney id="ModalAddJourney" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border border-warning rounded">
      <div class="modal-body">
        <form class="form-signin">

          <div class="form-group has-float-label">
            <select [(ngModel)]="selectedNumber" (ngModelChange)="getRegions(8);" [ngModelOptions]="{standalone: true}" class="form-control" id="number" required>
              <option value="undefined" disabled selected hidden>numbers</option>
              <option *ngFor="let j of journeys" [value]="j.id">{{j.phoneNumber}}</option>
            </select>
            <label for="number">number</label>
          </div>

          <div class="form-group has-float-label">
            <select [(ngModel)]="selectedRegionId" (ngModelChange)="getProviders();" [ngModelOptions]="{standalone: true}" class="form-control" id="region" required>
              <option value="undefined" disabled selected hidden>region</option>
              <option *ngFor="let region of regions" [value]="region.regionId">{{region.regionName}}</option>
            </select>
            <label for="region">region</label>
          </div>

          <div class="form-group has-float-label">
            <select [(ngModel)]="selectedProviderId" (ngModelChange)="getTariffs();" [ngModelOptions]="{standalone: true}" class="form-control" id="provider" required>
              <option value="undefined" disabled selected hidden>provider</option>
              <option *ngFor="let provider of providers" [value]="provider.providerId">{{provider.providerName}}</option>
            </select>
            <label for="provider">provider</label>
          </div>

          <div class="form-group has-float-label">

            <select [(ngModel)]="selectedTariffId" (ngModelChange)="getTariffOfferings();" [ngModelOptions]="{standalone: true}" class="form-control" id="tariff" required>
              <option value="undefined" disabled selected hidden>tariffs</option>
              <option *ngFor="let tariff of tariffs" [value]="tariff.tariffId">{{tariff.tariffName}} ({{tariff.tariffPrice}})</option>
            </select>

            <label for="provider">tariff</label>
          </div>

          <fieldset class="border rounded">
            <legend>additional offerings</legend>
            <div *ngFor="let offer of offerings">
              <input type="checkbox">{{offer.offeringName}} <span style = 'font-size: 0.7em;'>({{offer.offeringPrice}})</span>
            </div>
          </fieldset>

          <button type="button" class="btn btn-outline-secondary btn-block my-2" data-dismiss="modal">cancel</button>
          <button type="button" class="btn our_outline_btn btn-block" (click)="addJourney(selectedNumber, selectedTariffId)">save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
