.text-orange{
  color: #ffa700;
}
.txt-xl{
  font-family: 'MyMontserratMedium';
  font-weight: 500;
  font-size: 20px;
}
/*User NAV*/
.user_header{
  margin-top: 8px;
  height: auto;
  width: auto;
  padding: 8px 20px 8px 20px;
  background-color: #ffffff;
}
.user_nav{
  justify-content:flex-start;
  height: auto;
  display: flex;
  align-items:center;
}
.nav_btn{
  transition: .1s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 10px 3px 0;
  height:23px;
  background-color: #ffffff;
  border: 1px solid #ffa700;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #ffa700;
  cursor: pointer;
  position: relative;
}
.large-txt{
  text-align: center;
  margin-bottom:3px;
}
.nav_btn:hover{
  border : 1px solid #f97b00;
}
.selected_path{
  color: #ffffff;
  background-color: #ffa700;
}
.circle{
  position: absolute;
  right: 0;
  top: 0;
  width: 14.4px;
  height: 14.4px;
  border-radius: 50%;
  background-color: #ff512e;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  cursor: default;
}
#jrn::after{
  position: absolute;
  right: -7px;
  top: -7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ff512e;
  color: #ffffff;
  font-size: 9px;
  text-align: center;
  line-height: 14px;
}
#jrn.change:after{
  content: attr(data-content);
}
