<header class="user_header">
  <nav class='user_nav nav nav-pills flex-column flex-sm-row'>
    <span class='col-12 col-md-3 flex-sm-fill col-lg-2 text-sm-center large-txt txt-xl'>my account</span>
    <div [ngClass]="{'selected_path' : (regexpProfile.test(path))}" routerLink = "/profile/{{cookie.get('userid')}}"
         class='col-12 col-md-2 p-3 p-md-0 col-lg-2 flex-sm-fill text-sm-center nav-link nav_btn'>profile</div>
    <div [ngClass]="{'selected_path' : (regexpPhoneNumbers.test(path))}" routerLink="/phone-numbers/{{cookie.get('userid')}}"
         class='col-12 col-md-3 p-3 p-md-0 col-lg-2 flex-sm-fill text-sm-center nav-link nav_btn'>phone numbers</div>
    <div [ngClass]="{'selected_path' : (regexpJourneys.test(path))}" routerLink="/journeys/{{cookie.get('userid')}}"
         class='col-12 col-md-2 p-3 p-md-0 col-lg-2 flex-sm-fill text-sm-center nav-link nav_btn special' id = 'jrn'>journeys</div>
  </nav>
</header>
