<div class="cont">
  <app-nav></app-nav>
  <app-account-nav></app-account-nav>
  <app-profile-info></app-profile-info>
  <app-profile-acc-delete></app-profile-acc-delete>
</div>
<app-footer></app-footer>
