<div class="text-center sign-div cont-login">
  <div class="cont-form col-xs-12 col-sm-12 col-md-8 col-lg-5 col-xl-5">
  <img class="mb-4" src="../../assets/img/logo/Logo_final.png" alt="" width="72" >
  <form class="form-signin border border-warning rounded">
    <h1 class="h3 mb-3 font-weight-bold text-center ">log in</h1>
    <ng-template [ngIf]="!this.allFields || this.message">
      <div class="alert alert-warning" role="alert">
        {{this.message}}
      </div>
    </ng-template>
    <label for="inputlogin" class="sr-only">login</label>
    <input #inputLogin [ngModel]="userLoginText" [ngModelOptions]="{standalone: true}" maxlength="30" #ulogin="ngModel" type="text" id="inputlogin" class="form-control mb-0" placeholder="login" required>
    <div class="text-left" *ngIf="ulogin.invalid && (ulogin.dirty || ulogin.touched)">
      <mat-error *ngIf="ulogin.errors?.maxlength">Max 30 characters</mat-error>
      <mat-error *ngIf="ulogin.errors.required">Login is required</mat-error>
    </div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input #inputPassword [ngModel]="inputPasswordtext" [ngModelOptions]="{standalone: true}" minlength="3" maxlength="30" #upassword="ngModel" type="password" id="inputPassword" class="form-control mb-0" placeholder="password" required>
    <div class="text-left" *ngIf="upassword.invalid && (upassword.dirty || upassword.touched)">
      <mat-error *ngIf="upassword.errors?.minlength">Min 3 characters</mat-error>
      <mat-error *ngIf="upassword.errors?.maxlength">Max 30 characters</mat-error>
      <mat-error *ngIf="upassword.errors.required">Password is required</mat-error>
    </div>

    <button class="btn btn-lg btn-success btn-block mt-3" type="submit" (click)="onLoginClick()">sign in</button>
    <a id="policy" routerLink="/reset-password" class="form-text text-warning font-weight-bold small">forgot
      password?</a>
  </form>
  <small id="haveAccount" class="form-text text-muted font-weight-bold">don't have an account? <a routerLink="/sign-up" class="text-warning">sign up</a></small>

  </div>
</div>

