<div class="cont">
  <app-nav></app-nav>
  <div class="bg-white mt-2 p-3">
    <h2>Here you can see all information about tariffs.</h2>
    <div class="form-input">
      <div class="form-group has-float-label ">
        <select [(ngModel)]="selectedCountryId" (ngModelChange)="getRegions();" [ngModelOptions]="{standalone: true}" class="form-control" id="country" required >
          <option value="undefined" disabled selected hidden>country</option>
          <option *ngFor="let country of countries" [value]="country.countryId">{{country.countryName}}</option>
        </select>
        <label for="country">country</label>
      </div>

      <div class="form-group has-float-label">
        <select [(ngModel)]="selectedRegionId" (ngModelChange)="getProviders();" [ngModelOptions]="{standalone: true}" class="form-control" id="region" required>
          <option value="undefined" disabled selected hidden>region</option>
          <option *ngFor="let region of regions" [value]="region.regionId">{{region.regionName}}</option>
        </select>
        <label for="region">region</label>
      </div>

      <div class="form-group has-float-label">
        <select [(ngModel)]="selectedProviderId" (ngModelChange)="getTariffs(selectedProviderId);" [ngModelOptions]="{standalone: true}" class="form-control" id="provider" required>
          <option value="undefined" disabled selected hidden>provider</option>
          <option *ngFor="let provider of providers" [value]="provider.providerId">{{provider.providerName}}</option>
        </select>
        <label for="provider">provider</label>
      </div>
    </div>

    <div id="accordion" class="accordion">
      <div class="card m-2" *ngFor="let tariff of tariffs; let i = index;">
        <div class="card-header bg-white mb-0 row text-center" [id]="'heading' + i">
          <div class="col-lg-4 col-md-6 col-sm-6 mt-1">{{tariff.tariffName}}</div>
          <div class="col-lg-4 col-md-6 col-sm-6 mt-1">{{tariff.tariffPrice}}</div>
          <div class="col-lg-1 col-md-3 col-sm-6 ml-auto">
            <button class="btn btn-link" (click)="getOffering(tariff.tariffId)" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Arrow-down.svg/1600px-Arrow-down.svg.png" id="arrow">
            </button>
          </div>
        </div>
        <div [id]="'collapse' + i" class="collapse m-0 p-0" [attr.aria-labelledby]="'heading' + i" data-parent="#accordion">
            <div>
              <table class="table table-bordered mt-2 table-sm text-center table-responsive-sm" >
                <tr>
                  <td class="text-muted">offering name</td>
                  <th scope="col" *ngFor="let om of offering">{{om.offeringName}}</th>
                </tr>
                <tr>
                  <th class="text-muted">quantity</th>
                  <th scope="col" class="font-weight-normal"  *ngFor="let om of offering">{{om.quantity}}</th>
                </tr>
                <tr>
                  <th class="text-muted">offering price</th>
                  <th scope="col" class="font-weight-normal" *ngFor="let om of offering">{{om.offeringPrice}}</th>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
