/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: 'MyMontserratLight';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Regular'), url('./assets/fonts/Montserrat-Light.woff') format('woff');
}
@font-face {
  font-family: 'MyMontserratRegular';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Regular'), url('./assets/fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
  font-family: 'MyMontserratMedium';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), url('./assets/fonts/Montserrat-Medium.woff') format('woff');
}
@font-face {
  font-family: 'MyMontserratSemiBold';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat SemiBold'), url('./assets/fonts/Montserrat-SemiBold.woff') format('woff');
}
body {
  background-color: #f2f2f2 !important;
  font-family: 'MyMontserratRegular' !important;
  font-weight: 100;
}

