<section class="acc">
  <div class="avatar">
    <img id="avatar_pic" src="../../assets/img/star.png" alt="">
  </div>
  <div *ngIf="user">
    <table class="user_info_tab">
      <tr>
        <td class="info_bage">login</td>
        <td id="login">{{user.login}}</td>
      </tr>
      <tr>
        <td class="info_bage">email</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td class="info_bage">name</td>
        <td>{{user.surname}} {{user.name}} {{user.patronymic}}</td>
      </tr>
      <tr>
        <td class="info_bage">b-day</td>
        <td>{{user.birthDate | date:"dd.MM.yyyy"}}</td>
      </tr>
      <tr>
        <td class="info_bage">country</td>
        <td>Russia</td>
      </tr>
      <tr>
        <td class="info_bage">passport</td>
        <td>{{user.passport}}</td>
      </tr>
    </table>
  </div>
  <button type="button" class="btn edit_btn" data-target="#ModalEdit" data-toggle="modal" (click)="getModalUser();">edit</button>
  <app-modal-edit (updateUser)="user=$event"></app-modal-edit>
</section>
