
.text-orange{
  color: #ffa700;
}
.txt-xl{
  font-weight: 500!important;
  font-size: 20px;
}
.acc{
  margin: 8px 0 0 0;
  width: auto;
  height: auto;
  background-color:#ffffff;
  padding: 40px 40px 40px 40px;
  display: flex;
  align-items: center;
}
.avatar{
  width: 200px;
  height: 200px;
  background-color: #ffa700;
  border-radius: 50%;
  overflow: hidden;
}
#avatar_pic{
  width: 100%;
  height: 100%;
}
.user_info_tab {
  margin: 0 50px 0 50px;
}
table tr td{
  text-align:right;
  padding-right: 5px;
}
table tr td+td{
  text-align:center;
  padding-left: 10px;
  border-left: 3px solid #ebeaea;
}
#login{
  font-family: 'MyMontserratSemiBold';
  font-size: 1.5em;
  font-weight: 500;
}
.info_bage {
  font-family: 'MyMontserratSemiBold';
  color: #646464;
  font-weight: 500;
}
.btn{
  width:auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-radius: 5px;
  color:#ffa700;
  border: 1px solid #ffa700;
  background-color: white;
}
@media screen and (max-width: 767px){
  .acc{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 30px 20px;
  }
  .user_info_tab {
    margin: 20px 0 20px 0;
  }
  .avatar{
    height: 150px;
    width: 150px;
  }
}
.edit_btn:hover{
  color: #ffffff;
  background-color: #ffa700;
}
